h1 {
  text-align: center;
}

p {
  text-align: center;
}

body {
  background: #f8e8a6;
}

footer {
  text-align: center;
}

a {
  padding: 10px;
  color: green;
}

img {
    display: block;
    margin: 30px auto;
    border-radius: 10px;
}

.email-link {
    color: blue;
    padding: 1px;
}
